Prep Work

In [1]:
!pip install pyspark
!pip install kafka-python

Requirement already satisfied: pyspark in /usr/local/spark/python (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: kafka-python in /opt/conda/lib/python3.11/site-packages (2.2.11)

In [2]:
#imports
from pyspark.sql import SparkSession

In [3]:
#reading in the data
spark = SparkSession.builder \
    .appName('SampleDataset') \
    .getOrCreate()
sample_df = spark.read.csv("input/trip data/trip_data_sampled.csv", header=True, inferSchema=True)
display(sample_df)

DataFrame[medallion: string, hack_license: string, vendor_id: string, rate_code: int, store_and_fwd_flag: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, passenger_count: int, trip_time_in_secs: int, trip_distance: double, pickup_longitude: double, pickup_latitude: double, dropoff_longitude: double, dropoff_latitude: double]

In [4]:

sample_df.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- rate_code: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)

In [5]:
sample_df.count()

12841352

In [6]:
sample_df.limit(20).toPandas()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,312E0CB058D7FC1A6494EDB66D360CD2,7B5156F38990963332B33298C8BAE25E,CMT,1,N,2013-01-05 11:54:49,2013-01-05 12:03:48,1,539,0.80,-73.977127,40.748310,-73.990913,40.751053
1,0F9E0728AB1E40D5CEB0C6EDBF805CCB,8434E8A33D8C0150573FAA00B8A9ABF5,CMT,1,N,2013-01-05 19:04:43,2013-01-05 19:13:58,1,555,2.80,-73.966682,40.761139,-73.938515,40.792332
2,4A4DA06C65CFA356CD538AF4B899430E,7CE1605151178F02B4EBBD8472C86A13,CMT,1,N,2013-01-02 08:12:21,2013-01-02 08:24:43,1,742,2.50,-73.991150,40.750023,-73.952614,40.741150
3,02BFD1B64C2C80B433D3A282C828912B,375201058CFE70CE40B69903041C2310,CMT,1,N,2013-01-01 19:41:43,2013-01-01 19:49:17,2,453,2.10,-73.984734,40.769310,-73.997787,40.744205
4,1944EB168702ED8E6B9FD94E988D0197,1D24DD6F12731B59E72DD7CF387F5011,CMT,1,N,2013-01-08 08:30:16,2013-01-08 08:41:03,1,647,0.80,-73.976288,40.765472,-73.975105,40.757393
5,D5367E940A20B9D2550BF7CF7AE01681,5B34A2589D1D2106FC0C47564A4833F0,CMT,1,N,2013-01-08 10:08:49,2013-01-08 10:18:43,2,594,1.60,-73.972366,40.762138,-73.957542,40.782902
6,37BDEA2E54A3B70CBFA5B0D1C3A75FE2,730A179A7F97126B694CABFB93CC3A0C,CMT,1,N,2013-01-08 07:49:28,2013-01-08 07:57:15,2,467,2.60,-74.006790,40.754345,-73.980316,40.784081
7,251012565308E6E0E67550CFBBD253AB,8B204068A2EB2F13F762C05AC1F0B075,CMT,1,N,2013-01-05 19:52:03,2013-01-05 20:08:02,4,959,3.50,-73.999146,40.734352,-73.983322,40.773598
8,1E65B7E2D1297CF3B2CA87888C05FE43,F9ABCCCC4483152C248634ADE2435CF0,VTS,1,None,2013-01-13 04:26:00,2013-01-13 04:46:00,1,1200,2.46,-73.956451,40.771442,-73.972733,40.743450
9,90D83E0D0B4FF8DE2923C2977EF22C36,92153937578731DA2B1EC83D91E7FA3E,VTS,1,None,2013-01-13 04:37:00,2013-01-13 04:44:00,2,420,2.21,-73.998657,40.740150,-73.985260,40.763435
10,24A4654986C011AE6980FD9566014EDB,C6A6B2BBBEE3B7F5EF8644142B2EC46E,VTS,1,None,2013-01-13 04:31:00,2013-01-13 04:44:00,1,780,1.83,-73.989433,40.719017,-74.009163,40.708832
11,F9FC646C4015E241714E7DD2D9A3342D,0B24A0487C5B5A3C6125689A62F298B6,VTS,1,None,2013-01-13 04:41:00,2013-01-13 04:47:00,1,360,2.11,-74.009270,40.712772,-74.000549,40.739807
12,A0DEAEC3D5592AE94B876356F12F8158,6A35995FBD5399AB131B89623C344782,VTS,1,None,2013-01-13 04:37:00,2013-01-13 04:42:00,6,300,1.37,-73.981491,40.741055,-73.978394,40.728966
13,C1A48FC85303DE1EAA952C45E131915B,E6AE4A73BA0100B0CE5A9BD44EB9AC46,VTS,1,None,2013-01-13 04:39:00,2013-01-13 04:45:00,5,360,1.45,-73.981972,40.778786,-73.975548,40.795410
14,8F26F4F3008E69F65A0E2165AF9E48E3,124B03E4E34BCBAD0203583F0FC6D984,VTS,1,None,2013-01-13 04:43:00,2013-01-13 04:49:00,1,360,2.28,-73.996292,40.738121,-73.999718,40.761463
15,0E0157EB3E6F927FE7FA86C3A0762B3B,4E0569072023608FFEB72F454CCF408B,VTS,1,None,2013-01-13 11:08:00,2013-01-13 11:09:00,1,60,0.29,-73.987045,40.740910,-73.982361,40.738773
16,E53411C1726D6451C3F1D911945E2555,685CD478CC107E8C49ECEC51D13A7DD7,VTS,1,None,2013-01-13 11:12:00,2013-01-13 11:15:00,1,180,0.60,-73.945351,40.782696,-73.947372,40.787907
17,570BEC6BE89198DB9643A0AAA144C434,7C2735772B199BF5F1CE476DEDB7070C,VTS,1,None,2013-01-13 10:54:00,2013-01-13 11:14:00,1,1200,4.01,-73.973839,40.791142,-73.958595,40.775982
18,70F9798AA5CD4F5ED6E5FE6C95FEC92A,62381077872ECDECE4E438D854D7D911,VTS,1,None,2013-01-13 11:00:00,2013-01-13 11:08:00,1,480,0.11,-74.006424,40.712811,-74.002258,40.718033
19,34BE59152742E2CCAB27FA7DCF3118A7,83746074A57D92D56A509FD05B3709B5,VTS,1,None,2013-01-13 10:59:00,2013-01-13 11:07:00,1,480,1.53,-73.989456,40.747486,-73.987083,40.733540

In [7]:
from pyspark.sql.functions import col, trim

clean_df = sample_df

#rows with NULLs in columns
clean_df = clean_df.dropna(subset=[
    "medallion", "hack_license", "vendor_id", "pickup_datetime", "dropoff_datetime",
    "pickup_longitude", "pickup_latitude", "dropoff_longitude", "dropoff_latitude"])

#rows with 0.0 coordinates
clean_df = clean_df.filter(
    (col("pickup_longitude") != 0.0) &
    (col("pickup_latitude") != 0.0) &
    (col("dropoff_longitude") != 0.0) &
    (col("dropoff_latitude") != 0.0)
)

#remove empty strings in string columns
clean_df = clean_df.filter(
    (trim(col("medallion")) != "") &
    (trim(col("hack_license")) != "") &
    (trim(col("vendor_id")) != "")
)

#remove invalid values for passenger count
clean_df = clean_df.filter(col("passenger_count") > 0)

In [8]:
clean_df.count()

12623314

In [9]:
from pyspark.sql.functions import col, to_timestamp

#filter out rows where pickup is after dropoff
clean_df = clean_df.filter(col("pickup_datetime") <= col("dropoff_datetime"))
clean_df.count()

12623192

Query 1: Frequent Routes

In [10]:
#this block takes care of the timestamp filtering
from pyspark.sql import functions as f
max_ts = clean_df.agg(f.max("dropoff_datetime")).collect()[0][0]

#the lit() seems necessary for spark columns, idk the details it just didnt work without it, python datetime issue?
from datetime import timedelta
from pyspark.sql.functions import col, lit
min_ts = max_ts - timedelta(minutes=30)
print("earliest timestamp:", min_ts)
print("latest timestamp:", max_ts)
# Then filter using lit()
thirtymin_df = clean_df.filter(
    (col("dropoff_datetime") >= lit(min_ts)))
print("completed within last 30 min:", thirtymin_df.count())
thirtymin_df.limit(20).toPandas()

earliest timestamp: 2014-01-01 00:19:00
latest timestamp: 2014-01-01 00:49:00
completed within last 30 min: 20

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,6EBB9904088288D767E6DE96EE798D98,0C26F4E4FA203C768E1212B20AB51BF0,VTS,1,None,2013-12-31 23:58:00,2014-01-01 00:21:00,1,1380,17.61,-73.776825,40.645145,-73.800110,40.783379
1,4C73459B430339981D78795300433438,3F04F700CC3A6072C319596C149428C2,VTS,1,None,2013-12-31 23:47:00,2014-01-01 00:21:00,2,2040,1.75,-73.983131,40.766891,-73.991959,40.748291
2,7A03342122B584EA64AD5E0B1E7753E8,9E8C6E27950E4278B22B731A186FFCF9,CMT,1,N,2013-12-31 23:59:32,2014-01-01 00:23:23,1,1431,17.00,-73.776672,40.645218,-73.949783,40.710365
3,95913B84F5F2C7EAD5C48C88C9C440BB,A0467E1D7AB5407013C4A5A0D5B4D84B,CMT,1,N,2013-12-31 23:50:48,2014-01-01 00:26:20,1,2132,21.10,-73.990463,40.751671,-74.165237,40.617321
4,486BEA0045A5062C2A23E631CAD24060,68C665BC740D5F1665C85143B201DBE9,CMT,1,N,2013-12-31 23:48:26,2014-01-01 00:20:57,1,1950,9.30,-73.994240,40.751038,-73.919327,40.843090
5,CF7893F3F7AA3F65D6A01D17EBD7AE14,9DEFE659BB6FC2C5DB86F98F0A0160B2,CMT,1,N,2013-12-31 23:45:18,2014-01-01 00:35:49,2,3030,22.00,-73.979767,40.755348,-73.775833,40.759327
6,08AEC766353B989DDC06D8A8FF3252D0,84E7F4942F0D3291774CD339E1BFB36C,CMT,1,Y,2013-12-31 23:55:35,2014-01-01 00:24:20,2,1724,6.20,-73.982826,40.767551,-73.967056,40.710732
7,BE63343BAD5CD6F99EC435812E332445,8FB3F82E9582A7A3253F247A5468BF35,CMT,1,N,2013-12-31 23:54:08,2014-01-01 00:36:35,1,2547,10.00,-73.994087,40.766762,-73.894073,40.710922
8,A4E61457AA6C9F6B3CB6C956AC917039,DC38394ADBCCB4FDDD9AD9B75E4A93DC,CMT,1,N,2013-12-31 23:53:41,2014-01-01 00:28:34,1,2093,11.60,-73.981430,40.768322,-73.961884,40.654167
9,75A87D5295FA61C37DAB811A6776670E,A7DBF3FC6658E3DDBEE6E86D573D4F59,CMT,1,N,2013-12-31 23:59:22,2014-01-01 00:23:44,3,1462,11.40,-73.874466,40.773991,-73.983971,40.669765
10,2B271011AACF595FC04B45D811B555DC,071CFCB592328CF19A8224222B9A3558,CMT,1,N,2013-12-31 23:57:57,2014-01-01 00:29:49,2,1912,10.50,-74.008324,40.716660,-73.864853,40.749409
11,4BA6D1DB19341443B959A08C41489864,23E6BE0A8359FA2A8D4C9D94983558BD,VTS,1,None,2013-12-31 23:43:00,2014-01-01 00:21:00,2,2280,3.43,-73.989616,40.757675,-73.983162,40.730495
12,4C9C077C47CD78FC62B0311F80395A12,BFD42F88EFEBA5A75C03BCE82CADF234,VTS,1,None,2013-12-31 23:50:00,2014-01-01 00:21:00,1,1860,16.94,-73.981689,40.778465,-73.777466,40.745445
13,54930E4C504B585AB486037C0BEB19CD,BA14E40ADB74F48D08E6D08716D026FA,VTS,1,None,2013-12-31 23:39:00,2014-01-01 00:20:00,2,2460,9.86,-73.981827,40.772892,-73.916801,40.878777
14,56428DB534DA149445053B6D014D21BD,4B338661B4AE7FBC0E0955E4E98C8ABD,VTS,1,None,2013-12-31 23:40:00,2014-01-01 00:19:00,1,2340,9.07,-73.994476,40.721870,-73.951233,40.724571
15,0398E30B94A30D36BF84C4FCECE4B628,90CF07326407C06E56C1B67837EA90BB,VTS,1,None,2013-12-31 23:41:00,2014-01-01 00:20:00,1,2340,10.35,-73.969795,40.797428,-73.947159,40.830791
16,56CFEB33A88C64FE42AC17F87B0806D6,0E56A63C2A5F08E4ECB4CE2E864C00A5,VTS,1,None,2013-12-31 23:48:00,2014-01-01 00:27:00,2,2340,3.85,-73.978264,40.763416,-73.994270,40.759079
17,34A6D6B37688CD29D53017C130F658E4,17F69C23B41CEC6CD82163D00D722E57,VTS,1,None,2013-12-31 23:52:00,2014-01-01 00:49:00,2,3420,2.31,-73.990784,40.760857,-73.979645,40.761463
18,AAC26FD8FF0C03D8D1CC093A39489BE2,9EA0503A8DCFE4431E08078069C5932E,VTS,1,None,2013-12-31 23:57:00,2014-01-01 00:20:00,1,1380,5.63,-74.008316,40.716518,-73.924187,40.699871
19,C1DE0A667C443362E86D03A0AE948DAA,7AC4846A57C8776D3076A4803799EA7C,VTS,2,None,2013-12-31 23:58:00,2014-01-01 00:34:00,1,2160,20.05,-73.776962,40.645107,-73.968857,40.800079

In [11]:
#this block filters by grid cells
#to simplify the problem, for this task i will define grid cell as a dtype Double(rounded to 0.01) pair of latitude and longitude
#presented as Tuple i.e. ([60.44,40.02],[17.59,56.20])
#this makes a grid roughly 1km x 1km depending on where you are on the planet (1.11km x 0.85km in case of New York)
# which can be read as rounding of latitude and longitude

#I now realize that at the end of part 2 we had been given a definition to grid cell, eeeh
# i accept any minus points, not going to rewrite it, not worth it when you're understaffed
def to_grid(longitude_col, latitude_col):
    return f.struct(f.round(longitude_col, 2).alias("lon"),
                    f.round(latitude_col, 2).alias("lat"))


gridded_df = thirtymin_df.withColumn("start_cell", to_grid(f.col("pickup_longitude"), f.col("pickup_latitude")))\
                         .withColumn("end_cell", to_grid(f.col("dropoff_longitude"), f.col("dropoff_latitude")))

In [12]:
print(gridded_df.count())
gridded_df.limit(5).toPandas()

20

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,start_cell,end_cell
0,6EBB9904088288D767E6DE96EE798D98,0C26F4E4FA203C768E1212B20AB51BF0,VTS,1,None,2013-12-31 23:58:00,2014-01-01 00:21:00,1,1380,17.61,-73.776825,40.645145,-73.800110,40.783379,"(-73.78, 40.65)","(-73.8, 40.78)"
1,4C73459B430339981D78795300433438,3F04F700CC3A6072C319596C149428C2,VTS,1,None,2013-12-31 23:47:00,2014-01-01 00:21:00,2,2040,1.75,-73.983131,40.766891,-73.991959,40.748291,"(-73.98, 40.77)","(-73.99, 40.75)"
2,7A03342122B584EA64AD5E0B1E7753E8,9E8C6E27950E4278B22B731A186FFCF9,CMT,1,N,2013-12-31 23:59:32,2014-01-01 00:23:23,1,1431,17.00,-73.776672,40.645218,-73.949783,40.710365,"(-73.78, 40.65)","(-73.95, 40.71)"
3,95913B84F5F2C7EAD5C48C88C9C440BB,A0467E1D7AB5407013C4A5A0D5B4D84B,CMT,1,N,2013-12-31 23:50:48,2014-01-01 00:26:20,1,2132,21.10,-73.990463,40.751671,-74.165237,40.617321,"(-73.99, 40.75)","(-74.17, 40.62)"
4,486BEA0045A5062C2A23E631CAD24060,68C665BC740D5F1665C85143B201DBE9,CMT,1,N,2013-12-31 23:48:26,2014-01-01 00:20:57,1,1950,9.30,-73.994240,40.751038,-73.919327,40.843090,"(-73.99, 40.75)","(-73.92, 40.84)"

In [13]:
#reading frequencies
routes_df = gridded_df.groupBy("start_cell", "end_cell").count()
top_routes = routes_df.orderBy(f.desc("count")).limit(10)

In [14]:
top_routes.limit(15).toPandas()

        start_cell         end_cell  count
0  (-73.98, 40.77)  (-73.99, 40.75)      1
1  (-73.78, 40.65)   (-73.8, 40.78)      1
2  (-73.98, 40.77)  (-73.97, 40.71)      1
3  (-73.98, 40.76)  (-73.99, 40.76)      1
4  (-73.99, 40.76)  (-73.98, 40.73)      1
5   (-73.97, 40.8)  (-73.95, 40.83)      1
6  (-73.98, 40.78)  (-73.78, 40.75)      1
7  (-73.87, 40.77)  (-73.98, 40.67)      1
8  (-73.99, 40.72)  (-73.95, 40.72)      1
9  (-74.01, 40.72)   (-73.92, 40.7)      1

Query 1 part 2

In [16]:
from pyspark.sql.window import Window
from pyspark.sql.functions import expr, current_timestamp, to_json, struct

# 1. Compute counts per route in sliding window
windowed_counts = gridded_df \
    .withWatermark("dropoff_datetime", "35 minutes") \
    .groupBy(
        f.window("dropoff_datetime", "30 minutes", "1 minute"),
        "start_cell", "end_cell"
    ).count()

# 2. Rank top 10 per window
ranked = windowed_counts.withColumn(
    "rank", f.row_number().over(
        Window.partitionBy("window").orderBy(f.desc("count"))
    )
).filter("rank <= 10")

# 3. Flatten top 10 into single row
top_routes_flat = ranked.groupBy("window") \
    .agg(
        f.first("window.start").alias("pickup_datetime"),
        f.first("window.end").alias("dropoff_datetime"),
        f.collect_list(f.struct("start_cell", "end_cell")).alias("routes")
    )

# 4. Pad to 10 routes
def pad_routes(route_list):
    padded = route_list + [None] * (10 - len(route_list))
    return padded[:10]

from pyspark.sql.types import StructType, StructField, StringType, ArrayType
from pyspark.sql.functions import udf

pad_udf = udf(pad_routes, ArrayType(StructType([
    StructField("start_cell", StringType()),
    StructField("end_cell", StringType())
])))

padded_df = top_routes_flat.withColumn("routes_padded", pad_udf("routes"))

# 5. Split each route to individual columns
for i in range(10):
    padded_df = padded_df \
        .withColumn(f"start_cell_id_{i+1}", f.col("routes_padded")[i]["start_cell"]) \
        .withColumn(f"end_cell_id_{i+1}", f.col("routes_padded")[i]["end_cell"])

# 6. Add delay
padded_df = padded_df.withColumn(
    "delay", f.unix_timestamp(current_timestamp()) - f.unix_timestamp("dropoff_datetime")
)

# 7. Select and serialize for Kafka
output_df = padded_df.select(
    "pickup_datetime", "dropoff_datetime",
    *[f"start_cell_id_{i+1}" for i in range(10)],
    *[f"end_cell_id_{i+1}" for i in range(10)],
    "delay"
)

kafka_ready_df = output_df.withColumn(
    "value", to_json(struct(*output_df.columns))
).select("value")

Query 2 part 1

In [17]:
from pyspark.sql.functions import percentile_approx
#this block calculates median profit by cell
gridded_df = gridded_df.withColumn("total_profit", col("fare_amount") + col("tip_amount"))

#dropoffs that ended in last 15 minutes
profit_df = gridded_df \
    .withWatermark("dropoff_datetime", "20 minutes") \
    .groupBy(window("dropoff_datetime", "15 minutes", "1 minute"),col("start_cell").alias("cell")
    ).agg(
        percentile_approx("total_profit", 0.5).alias("median_profit")
    )
profit_df.limit(15).toPandas()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `fare_amount` cannot be resolved. Did you mean one of the following? [`rate_code`, `medallion`, `end_cell`, `start_cell`, `hack_license`].;
'Project [medallion#17, hack_license#18, vendor_id#19, rate_code#20, store_and_fwd_flag#21, pickup_datetime#22, dropoff_datetime#23, passenger_count#24, trip_time_in_secs#25, trip_distance#26, pickup_longitude#27, pickup_latitude#28, dropoff_longitude#29, dropoff_latitude#30, start_cell#227, end_cell#245, ('fare_amount + 'tip_amount) AS total_profit#826]
+- Project [medallion#17, hack_license#18, vendor_id#19, rate_code#20, store_and_fwd_flag#21, pickup_datetime#22, dropoff_datetime#23, passenger_count#24, trip_time_in_secs#25, trip_distance#26, pickup_longitude#27, pickup_latitude#28, dropoff_longitude#29, dropoff_latitude#30, start_cell#227, struct(lon, round(dropoff_longitude#29, 2), lat, round(dropoff_latitude#30, 2)) AS end_cell#245]
   +- Project [medallion#17, hack_license#18, vendor_id#19, rate_code#20, store_and_fwd_flag#21, pickup_datetime#22, dropoff_datetime#23, passenger_count#24, trip_time_in_secs#25, trip_distance#26, pickup_longitude#27, pickup_latitude#28, dropoff_longitude#29, dropoff_latitude#30, struct(lon, round(pickup_longitude#27, 2), lat, round(pickup_latitude#28, 2)) AS start_cell#227]
      +- Filter (dropoff_datetime#23 >= 2014-01-01 00:19:00)
         +- Filter (pickup_datetime#22 <= dropoff_datetime#23)
            +- Filter (passenger_count#24 > 0)
               +- Filter ((NOT (trim(medallion#17, None) = ) AND NOT (trim(hack_license#18, None) = )) AND NOT (trim(vendor_id#19, None) = ))
                  +- Filter (((NOT (pickup_longitude#27 = 0.0) AND NOT (pickup_latitude#28 = 0.0)) AND NOT (dropoff_longitude#29 = 0.0)) AND NOT (dropoff_latitude#30 = 0.0))
                     +- Filter atleastnnonnulls(9, medallion#17, hack_license#18, vendor_id#19, pickup_datetime#22, dropoff_datetime#23, pickup_longitude#27, pickup_latitude#28, dropoff_longitude#29, dropoff_latitude#30)
                        +- Relation [medallion#17,hack_license#18,vendor_id#19,rate_code#20,store_and_fwd_flag#21,pickup_datetime#22,dropoff_datetime#23,passenger_count#24,trip_time_in_secs#25,trip_distance#26,pickup_longitude#27,pickup_latitude#28,dropoff_longitude#29,dropoff_latitude#30] csv

Ive ran into a funny one...\
looks like i have been using the wrong dataset for this task and the correct one(11gb) has a broken link by now(404)\
https://drive.usercontent.google.com/open?id=0B4zFfvIVhcMzcWV5SEQtSUdtMWc\

sooo i will continue to complete the task with the trip_data folder (27gb) atleast abstractly,\
as i lack the following columns:\
payment_type\
fare_amount \
surcharge\
mta_tax\
tip_amount\
tolls_amount

In [ ]:
#This block is the empty taxi detector
#I'll define an empty taxi by having a dropoff in a cell without a subsequent pickup (in a given timeframe)
from pyspark.sql.functions import row_number
last_dropoffs = gridded_df \
    .withWatermark("dropoff_datetime", "35 minutes") \
    .select("medallion", "dropoff_datetime", "end_cell") \
    .withColumn("rn", row_number().over(
        Window.partitionBy("medallion").orderBy(col("dropoff_datetime").desc())
    )).filter("rn = 1")

#dropoffs per cell in the last 30 minutes
empty_df = last_dropoffs \
    .filter("dropoff_datetime >= current_timestamp() - interval 30 minutes") \
    .groupBy("end_cell") \
    .agg(F.countDistinct("medallion").alias("empty_taxis"))

In [ ]:
breadwinners = profit_df.join(
    empty_df,
    profit_df["cell"] == empty_df["end_cell"],
    how="left"
).fillna({"empty_taxis": 0})

breadwinners = breadwinners \
    .withColumn("profitability", col("median_profit") / (col("empty_taxis") + f.lit(1))) \
    .orderBy(col("profitability").desc()) \
    .limit(10)

In [ ]:
result_df = breadwinners \
    .withColumn("pickup_datetime", f.current_timestamp()) \
    .withColumn("dropoff_datetime", f.col("window").getField("end")) \
    .select(
        "pickup_datetime", "dropoff_datetime",
        col("cell").alias("profitable_cell_id_1"),
        "empty_taxis", "median_profit", "profitability")

result_df.toPandas()